@model MvcAgenda.Domain.Entities.user

@{
    Layout = null;
    }
    
    <ul>       
        <li>@Html.ActionLink("Add Event", "Create", new { controller = "Events" }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Events", "Index", new { controller = "Events", page = 1 }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Adresses", "Index", new { controller = "Locations", page = 1 }, new { target = "_blank" })</li>
        @*<li>@Html.ActionLink("Comments", "Index", "Comments", new { target = "_blank" })</li>*@
    </ul>


